/*----------
    初始化
  ---------*/
*{padding: 0;margin: 0;border:0;box-sizing: border-box;}
html,body{font-family:"Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;color: #333;}
i{display: inline-block;}
ul,li{list-style-type: none}
select{appearance:none; -moz-appearance:none;-webkit-appearance:none;}
a{text-decoration: none;}
input[type=button], input[type=submit], input[type=file], button{cursor: pointer;-webkit-appearance: none;outline: 0;}
.clearfix:after{content: "";display: block;clear: both}
img{width: 100%;font-size: 0;display: block}
body{background: -webkit-linear-gradient(right bottom,#EBE6E6, #DDE9DE); 
  background: -o-linear-gradient(left top,#EBE6E6, #DDE9DE); 
  background: -moz-linear-gradient(left top,#EBE6E6, #DDE9DE);
  background: linear-gradient(left top,#EBE6E6, #DDE9DE);}
/*----------
    header
  ---------*/
 .mui-icon-location:before{font-size: 22px;}
/*.header-top-wrap{background: url("../img/header-bg.jpg") repeat}*/
.nav-wrap{background: url("../img/nav-bg.jpg") repeat;background-size: contain;width: 1100px;position: relative;margin: auto;}
/*.header-bottom-wrap{background: url("../img/bg.jpg") repeat}*/
.header-top{position: relative;width: 1100px;margin: auto}
.header-top img{font-size: 0;width: 100%;height: 210px;}
.banner-words{position: absolute;top: 40px;color: #fff;left: 60px;line-height: 30px;font-size: 15px;}
.nav{position:relative;line-height: 45px;width: 1100px;margin: auto;text-align: center;}
.nav-bg{position: absolute;width: 1100px;height: 45px;background: url("../img/nav_bg.png") no-repeat ;background-size: cover;left: 50%;margin-left: -550px;opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6;filter:alpha(opacity=60);}
.nav li{display: inline-block;}
.nav li a{height: 45px;width: 140px;text-align: center;display: inline-block;color: #fff;font-size: 16px;}
.nav li:hover{background: #00CCCC;border-radius: 50px 0;moz-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;text-shadow: #333 1px 1px 1px;}
.navOn{background: #00CCCC;border-radius: 50px 0;}
.Album{float: left;width: 60%;}
.Diary{float: right;width: 38%;position: relative}
.Diary img{width: 100%}
.Diary p{position: absolute;top: 100px;right: 70px;color: #fff;width: 50%;}
.Album-left{float: left;width: 80%;position: relative;}
.Album-left img{width: 528px;height: 300px;}
.Album-left ul{height: 300px;}
.Album-left li{position: absolute;display: none}
.Album-right{float: left;width: 20%;position: relative}
.Album-right li{padding: 5px 0;cursor: pointer}
.Album-right li img{height: 50px;width: 100px;margin: auto}
.Album-right .hover-bg{position: absolute;transition: all 0.5s;cursor: pointer;top: 0;left: 1px}
.Album-right i{position: absolute;}
.header-bottom{width:1100px;margin: auto;}
.loginIn{position: absolute;top: 0px;right: 30px;z-index: 222;}
.loginImg{padding-left: 60px;width: 150px;}
.login-Photo,.loginImg img{width: 70px;height: 70px;border-radius: 50%;cursor: pointer;}
.loginList{width: 150px;display: none;font-size: 14px;}
.loginList li{line-height: 25px;background: url(../img/status-bg.png) no-repeat;margin: 6px 0;text-align: center;color: #FAFAFA;border-radius: 10px;position: relative;}
.loginList li a{color: #FAFAFA;display: block;width: 100%;}
.loginList li:hover{background: #0f88eb;cursor: pointer;}
.loginName{color: #fffd73 !important;margin-top: 8px !important;}
.loginName:hover{background: url(../img/status-bg.png) no-repeat !important;cursor: pointer;}
.personInfo:before,.changePwd:before,.exit:before{background:url(../img/loginlistIcon.png) no-repeat;content: '';display: block;position: absolute;left: 15px;top: 4px;width: 22px;height: 20px;}
.personInfo:before{background-position: 0 -41px;}
.changePwd:before{background-position: 0 -79px;}
.exit:before{background-position: 0 -163px;}
.loginName:before{background: url(../img/top.png) no-repeat;position: absolute;content: '';display: block;width: 20px;height:10px;top: -8px;right: 40px;opacity: 0.6;}
/*----------
   main
  ---------*/
main,footer{min-width: 1100px;}
/*.main-wrap,.header-bottom,.header-top{background: url(../img/bg.jpg) repeat;}*/
.main-wrap{width: 1100px;margin: auto;padding-top: 15px;}
.main-left{float: left;width: 70%;padding-right: 2%;}
.h1{font-size: 16px;height: 35px;line-height: 35px;color: #888;background: #Fff;border-radius: 5px;margin-bottom: 15px;box-shadow: 3px 3px 5px #888;width: 200px;background-size: 100%;text-align: center;}
.Article-wrap{background: #F3F6F1;}
article{border-bottom:2px solid #DEE9DF;margin-bottom: 20px;padding: 15px;cursor: pointer;transition:all 0.8s;-moz-transition:all 0.8s; -webkit-transition:all 0.8s; -o-transition:all 0.8s;}
article:hover{border-bottom:2px solid #fff;}
.articleHover{padding-left: 30px;transition:all 1s;-moz-transition:all 1s; -webkit-transition:all 1s; -o-transition:all 1s;}
.article-bg{width: 25%;height: 140px;float: left;}
.article-bg img{height: 100%;border: 1px solid #fffd73;}
.article-content{float: right;width: 72%;}
.article-content header h3{font-size: 16px;height: 20px;line-height: 20px;color: #ffb600;}
.article-content .p-bottom{line-height: 24px;font-size: 14px;height: 72px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;color:#ac8b72;}
.article-footer a{color:#ac8b72;font-style:italic;}
.article-footer span:first-child{float: left !important;}
.article-footer span:last-child{float: right;color: #ac8b72;}
.article-footer{color:#ac8b72;font-size: 14px;padding: 10px 0;}
.main-right{float: right;width: 28%;}
.common{margin-bottom: 30px;}
.about img{height: 250px;width: 180px;border: 1px solid #fffd73;}
.about p{color:#ac8b72;font-size: 14px;line-height: 30px;font-style: italic}
.Article{position: relative;}
.add-article{font-size: 18px;margin: 10px 0;color: #CC9966;}
.add-article:before{font-size: 25px;}
.add-article:hover{color: #632A1D;transition: all .3s;}
.Article .Article-list li a{display: block;color:#ac8b72;font-size: 15px;padding-left: 25px;border-bottom: 1px solid #eee;}
.Article .number{position: absolute;top: 50px;color:#ac8b72;}
.Article li{margin-bottom: 5px;}
.number li,.Article ul a{height: 30px;line-height: 30px;}
.number li{width: 20px;text-align: center;border-radius: 2px;}
.one{}
/*visitor*/ 
.visitor li{width: 17%;float: left;margin:3%;}
.visitor img{border-radius: 50%;border: 1px solid #fffd73;}
footer{color:#333;text-align: center;font-size: 18px;height: 50px;line-height: 50px;}
/*sortLinks*/
.sortLinks li{width: 44%;float: left;margin:5px 3%;border-radius: 5px;}
.sortLinks li a{color: #fff;width: 100%;display: inline-block;height: 50px;line-height: 50px;text-align: center;transition: transform 1s;}
.sortLinks li:hover a{transform:rotate(360deg);}
/*search*/
.searchInput{position: relative;}
.searchInput input{width: 90%;display: block;height: 50px;border: 1px solid #ccc;border-radius: 5px;text-align: center;font-size: 17px;}
.searchInput i{background: url(../img/search.png) no-repeat center;display: block;height: 50px;width:45px;position: absolute;top: 0px;right:10%;cursor: pointer;}
/*----------
    animation
  ---------*/
/* 淡入-从左 */
.a-fadeinL{-webkit-animation:2s ease backwards;-moz-animation:2s ease backwards;
    -ms-animation:2s ease backwards;animation:2s ease backwards;-webkit-animation-name:fadeinL;-moz-animation-name:fadeinL;-ms-animation-name:fadeinL;animation-name:fadeinL;}
@-webkit-keyframes fadeinL{
    0%{opacity:0;-webkit-transform:translateX(-50px);}
    100%{opacity:0.8;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinL{
    0%{opacity:0;-moz-transform:translateX(-50px);}
    100%{opacity:0.8;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinL{
    0%{opacity:0;-ms-transform:translateX(-50px);}
    100%{opacity:0.8;-ms-transform:translateX(0);}
}
@keyframes fadeinL{
    0%{opacity:0;transform:translateX(-50px);}
    100%{opacity:0.8;transform:translateX(0);}
}

.fadeIn{-webkit-animation:2s  backwards;-moz-animation:2s  backwards;
    -ms-animation:2s  backwards;animation:2s  backwards;-webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein;}
@keyframes fadein{
    0%{opacity:0;}
    20%{opacity:0.3;}
    40%{opacity:0.5;}
    60%{opacity:0.8;}
    70%{opacity:0.5;}
    80%{opacity:1;}
    90%{opacity:0.5;}
    100%{opacity:1;}
}
@-webkit-keyframes fadein{
    0%{opacity:0;}
    20%{opacity:0.3;}
    40%{opacity:0.5;}
    60%{opacity:0.8;}
    70%{opacity:0.5;}
    80%{opacity:1;}
    90%{opacity:0.5;}
    100%{opacity:1;}
}
@-moz-keyframes fadein{
    0%{opacity:0;}
    20%{opacity:0.3;}
    40%{opacity:0.5;}
    60%{opacity:0.8;}
    70%{opacity:0.5;}
    80%{opacity:1;}
    90%{opacity:0.5;}
    100%{opacity:1;}
}
@-ms-keyframes fadein{
    0%{opacity:0;}
    20%{opacity:0.3;}
    40%{opacity:0.5;}
    60%{opacity:0.8;}
    70%{opacity:0.5;}
    80%{opacity:1;}
    90%{opacity:0.5;}
    100%{opacity:1;}
}
.page1_1{
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay:0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay:0.5s;
}
.page1_2{
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay:3s;
    -ms-animation-delay: 3s;
    animation-delay:3s;
}
.page1_3{
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
    -o-animation-delay:5.5s;
    -ms-animation-delay: 5.5s;
    animation-delay:5.5s;
}
/*淡入左右*/
.main-left-fadeinL{-webkit-animation:2s ease backwards;-moz-animation:2s ease backwards;
    -ms-animation:2s ease backwards;animation:2s ease backwards;-webkit-animation-name:main-left-fadeinL;-moz-animation-name:main-left-fadeinL;-ms-animation-name:main-left-fadeinL;animation-name:main-left-fadeinL;}
@-webkit-keyframes main-left-fadeinL{
    0%{opacity:0;-webkit-transform:translateX(-60px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes main-left-fadeinL{
    0%{opacity:0;-moz-transform:translateX(-60px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes main-left-fadeinL{
    0%{opacity:0;-ms-transform:translateX(-60px);}
    100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes main-left-fadeinL{
    0%{opacity:0;transform:translateX(-60px);}
    100%{opacity:1;transform:translateX(0);}
}
.main-left-fadeinR{-webkit-animation:2s ease backwards;-moz-animation:2s ease backwards;
    -ms-animation:2s ease backwards;animation:2s ease backwards;-webkit-animation-name:main-left-fadeinR;-moz-animation-name:main-left-fadeinR;-ms-animation-name:main-left-fadeinR;animation-name:main-left-fadeinR;}
@-webkit-keyframes main-left-fadeinR{
    0%{opacity:0;-webkit-transform:translateX(60px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes main-left-fadeinR{
    0%{opacity:0;-moz-transform:translateX(60px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes main-left-fadeinR{
    0%{opacity:0;-ms-transform:translateX(60px);}
    100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes main-left-fadeinR{
    0%{opacity:0;transform:translateX(60px);}
    100%{opacity:1;transform:translateX(0);}
}
/*----------
   article
  ---------*/
.location{margin:10px 0;line-height: 30px;color: #CC9966;}
.location a{color: #CC9966;display: inline-block;font-size: 15px;}
.location a:hover{text-decoration: underline;}
.location span{font-size: 15px;color: #CC9966;}
.location i{display: inline-block;margin:0 10px;}
.location span:last-child{font-style: italic;}
.Article-catagory{width: 100%;display: flex;justify-content: space-around;margin: 15px 0;}
.Article-catagory li{margin: 0;margin-right: 20px;width: 80px;height: 80px;border-radius: 50%;line-height: 80px;}
/*----------
   login
  ---------*/
canvas {position: absolute;top: 0;width: 100%;z-index: -1;}
.index-main-body{width: 300px;margin: auto;padding: 200px 0 102px;}
.sign-button{width: 100%;line-height: 41px;background: #0f88eb;color: #fff;padding: 0;}
.sign-button:hover,.send{background:#55abed;cursor: pointer;}
.index-tab-navs{margin-bottom: 10px;font-size: 18px;text-align: center;}
.index-header .subtitle {margin: 30px 0 20px;font-weight: 400;font-size: 18px;line-height: 1;}
.index-tab-navs .navs-slider {position: relative;display: inline-block;}
.index-tab-navs a {float: left;width: 4em;line-height: 35px;opacity: .7;-ms-filter: "alpha(Opacity=70)";-webkit-transition: opacity .15s,color .15s;transition: opacity .15s,color .15s;color: #333;}
.index-tab-navs a.active {opacity: 1;-ms-filter: "alpha(Opacity=100)";color: #0f88eb;}
.index-tab-navs .navs-slider .navs-slider-bar {position: absolute;left: 4.5rem;bottom: 0;margin: 0 .8em;width: 2.4em;height: 2px;background: #0f88eb;-webkit-transition: left .15s ease-in;transition: left .15s ease-in;font-size: 18px;text-align: center;}
.login-Toggle{line-height: 30px;float: left;font-size: 15px;color: #5ca5e8;margin: 10px 0;}
footer{color: #888;width: 100%;}
.code{position: relative;}
.code .send{position: absolute;right: 0px;height: 40px;top: 0;background: #0f88eb;color: #fff;font-size: 12px;line-height: 40px;border-radius: 3px;width: 90px;text-align: center;}
.article-Detail{width: 1100px;margin: auto;}
.article-Detail h1{color:#ffb600;font-size: 24px;height: 50px;line-height: 50px;text-align: center;}
.articleDetail-top{color: #ECC849;font-size: 16px;text-align: center;}
.articleDetail-top span{margin-right: 25px;height: 30px;line-height: 30px;}
.articleDetail-top i{font-style: normal;}
.articleDetail-content{color: #ac8b72;line-height: 30px;margin-top: 20px;text-indent: 2rem;}
/*----------
   articleDetail
  ---------*/
.comment-wrap{width: 1100px;margin: auto;}
.make-comment{margin: 25px 0;}
.make-comment-left{float: left;width:60px;height: 60px;border-radius: 50%}
.make-comment-right{margin-left: 80px;}
.comment-btns{float: right;}
.comment-btn,.comment-cancle{border-radius: 4px;height: 35px;width: 120px;padding: 0 16px;}
.comment-btn{color: #0080ff;border: 1px solid #0f88eb;}
.make-comment-right textarea{border-radius: 8px;}
.commentItem-left{float: left;width:60px;height: 60px;border-radius: 50%}
/*----------
   myInfo
  ---------*/
.info-wrap{width: 1100px;margin: auto;margin-top: 30px;}
.info-left{float: left;width: 20%;}
.info-left p{line-height: 50px;cursor: pointer;border-left: 3px solid #E1E9E1;text-align: center;}
.info-left p:hover{text-decoration: underline;}
.info-selected{background: #F3F6F1;border-left: 3px solid #0F88EB !important;}
.info-common-wrap{width: 410px;margin: auto;padding: 50px 0;}
.info-right{float: right;width: 80%;background: #F3F6F1;height: 500px;}
.person-Info .info-img{width: 70px;margin: auto;}
.person-Info .info-img span{cursor: pointer;margin: 10px 0;display: block;}
.info-common{line-height: 40px;}
.info-common span:first-child{width: 110px;float: left;}
.info-common input,.info-common textarea{width: 300px;float: left;}
.find-password{width:300px;}
.info-common-wrap button{width:300px;float: right;}