.page{
    list-style: none;
    margin: 10px 0 20px 0;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #333;
    margin: 5px;
    background-color: #333;
}