<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>关于我</title>
		<link rel="stylesheet" type="text/css" href="../public/css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/page.css"/>
		<link rel="stylesheet" href="../css/main.css">
		<script src="../public/js/jquery-1.8.3.min.js"></script>
		<script src="../public/js/page.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body>
		<main class="clearfix">
		</main>
		<footer>
			<p>©2017 Design by Gao</p>
		</footer>
	</body>

</html>